/* ---CONTACTS-BLOCK--- */
//this is a contacts-block sass component

//import local contacts-block's variables
@import 'variables';

//COMMON
.contacts-block {
    background-color: $color_white_ffffff;
}

/* ---CONTACTS-BLOCK'S ITEMS--- */

//COMMON
.contacts-block__item-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $size-grid_lg_992px) {
        margin: 0 0 rem(21px);

        &:last-child {
            margin: 0;
        }
    }
}

//CONTACS-BLOCK__TEXT
.contacts-block__text {

    @extend %contacts-block_items_style;

    font-size: rem(30px);
    line-height: rem(36px);
    text-align: center;
    color: $color_black_000000;

    &:last-child {
        @extend %contacts-block_items_margin-0;
    }
    
    //this is media style for font-size
    @include contacts-block_items_media(20px);
}

//CONTACTS-BLOCK__NUMBER
.contacts-block__number {

    @extend %contacts-block_items_style;

    font-size: rem(24px);
    color: $color_black_000000;

    &:last-child {
        @extend %contacts-block_items_margin-0;
    }

    //this is media style for font-size
    @include contacts-block_items_media(22px);
}

//CONTACTS-BLOCK__MAIL
.contacts-block__mail {

    @extend %contacts-block_items_style;

    font-size: rem(24px);
    line-height: rem(20px);
    color: $color_purple_cd1650;

    &:last-child {
        @extend %contacts-block_items_margin-0;
    }
    
    //this is media style for font-size
    @include contacts-block_items_media(20px);
}