//COLOR VARIABLES
$color_black_000000: #000000;
$color_white_ffffff: #ffffff;
$color_purple_cd1650: #cd1650;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;

//EXTEND VARIABLES
%contacts-block_items_style {
    margin: 0 0 rem(15px);
}

%contacts-block_items_margin-0 {
    margin: 0;
}

//MIXIN
@mixin contacts-block_items_media($pixel) {
    @media screen and (max-width: 768px) {
        font-size: rem($pixel);
    }
}