/* ---HEADER--- */
//this is a header's sass component and index for import of header's components

//import local headers's variables
@import 'variables';

//COMMON
.header {
    height: 100%-$footer_height;
    width: inherit;
    max-width: inherit;
    background-color: $color_purple_8d23bb;
}

//MAIN HEADERS'S COMPONENTS

//import of logotype project
@import 'logo/logo';

//import of burger-button
@import 'burger-button/burger-button';

//import of main navigation bar
@import 'navigation-bar/navigation-bar';