/* ---NEWS-BLOCK--- */
//this is a news-block sass component

//import local news-block's variables
@import 'variables';

//COMMON
.main__news-block {
    background-color: $color_white_ffffff;
}

.news-block__content-block {

    @media screen and (max-width: $size-grid_lg_992px) {
        display: flex;
        flex-direction: column;
    }
}

/* ---NEWS-BLOCK'S ITEMS--- */
.news-block__item-wrapper {
    height: min-content;
    width: 328px;
    padding: rem(24px);
    border-right: $border_news-block__item solid $color_white_ebe9e9;
    border-bottom: $border_news-block__item solid $color_white_ebe9e9;

    @media screen and (max-width: $size-grid_lg_992px) {
        width: 100%;
        border-right: unset;
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        padding: 0;
        margin: 0 0 rem(25px);

        .news-block__item-wrapper:last-child {
            margin: 0;
        }
    }
}

.news-block__item-wrapper_new-post {
    height: inherit;
    min-width: 436px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(24px) rem(24px) rem(24px) 0;

    @media screen and (max-width: $size-grid_lg_992px) {
        padding: rem(24px);
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        min-width: unset;
        padding: 0;
    }
}

.news-block__item {
    position: relative;
}

//NEWS-BLOCK'S IMAGE
.image_news-block {
    height: 180px;
    background-size: cover;

    @media screen and (max-width: $size-grid_lg_992px) {
        margin: 0 auto rem(25px);
        display: block;
        width: auto;
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        width: 100%;
    }
}

.image_news-block_new-post {
    height: 240px;
}

//NEWS-BLOCK'S HEADLINE
.headline_h3_news-block {
    //style for a hidden content
    max-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 4;
}

//NEWS-BLOCK'S TEXT
.text_news-block {
    //style for a hidden content
    max-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 7;
}

.button_news-block {
    height: 52px;
    width: 100%;
}

.text_annotation_news-block {
    //style for a hidden content
    max-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1; 
}