//COLOR VARIABLES
$color_white_ffffff: #ffffff;
$color_white_ebe9e9: #ebe9e9;
$color_purple_cd1650: #cd1650;

//BORDER VARIABLES
$border_news-block__item: 1px;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;

