/* ---PARTNERS-BLOCK--- */
//this is a partners-block sass component

//import local partners-block's variables
@import 'variables';

//COMMON
.partners-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-block__item-block {
    min-height: 87px;
    min-width: 230px;

    @media screen and (max-width: $size-grid_sm_576px) {
        width: 100%;
    }
}

.partners-block__item-link {
    height: 100%;
    width: 100%;
    display: block;
    border: 1px solid transparent;
    transition: .3s linear;

    &:hover {
        text-decoration: none;
        color: $color_purple_5b108a;
        box-shadow: em(0px) em(0px) em(5px) rgba(0,0,0, .5), em(0px) em(3px) em(8px) rgba(0, 0, 0, 0.3);
    }
}

.partners-block__item {
    height: 100%;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
}