//COLOR VARIABLES
$color_crimson_cd1650: #cd1650;
$color_crimson_f8115b: #f8115b;
$color_purple_5b108a: #5b108a;
$color_purple_420f62: #420f62;

//HEIGHT VARIABLES
$height_carousel_text: 123px;
$height_carousel-text__content-block_activity: 432px;

//WIDTH VARIABLES
$width-carousel-inner_text_background-obj: rem(262px);

//SIZE LINK-ICON VARIABLES
$link-icon_size_different: 8px;

//OTHER VARIABLES
$border-size-carousel-inner_text_background-obj: 31px;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;