/* ---CAROUSEL (TEXT)--- */
//this is a carousel_text sass component

//import local carousel's variables
@import 'variables';

//import of bootstrap files
//this is working, because carousel component have added in style.scss
/* @import '../../node_modules/bootstrap/scss/carousel'; */

//COMMON

//CAROUSEL-LIST
.carousel-list_text {
    //this is the bootstrap's style (refactoring of bootstrap's style, which is not used)
    justify-content: unset;
    right: unset;
    bottom: unset;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;

    & {
        //this is style for carousel-indicators list
        display: flex;
        position: absolute;
        z-index: 3;
        top: 89%;
        left: rem(294px);
        transform: translateY(-89%);
        list-style: none;
    }

    @media screen and (max-width: $size-grid_md_768px) {
        top: 41%;
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        left: rem(40px);
    }
}

.carousel-list_text li {
    //this is the bootstrap's style (refactoring of bootstrap's style)
    box-sizing: unset;
    flex: unset;
    margin-right: 0;
    margin-left: 0;
    text-indent: 0;
    cursor: pointer;
    background-color: $color_white_ffffff;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
    
    & {
        //this is my style for indicators of carousel list
        height: rem($link-icon_size_different);
        width: rem($link-icon_size_different);
        border: 0;
        border-radius: 50%;
        margin: em(7px);
        background-color: $color_purple_420f62;
        transition: .3s linear;
        opacity: .5;
    }

    &:hover {
        background-color: $color_white_ffffff;
    } 
}


/* ---CAROUSEL'S ITEMS--- */

//CAROUSEL-INNER
.carousel-inner_text {
    //this is style of carousel-inner for carousel_text
    min-height: $height_carousel_text;
    display: flex;

    @media screen and (max-width: $size-grid_md_768px) {
        flex-direction: column;
    }
}

.carousel-text__content-block {
    display: flex;
    height: $height_carousel_text;
    background-color: $color_crimson_cd1650;
}

.carousel-text__content-block_activity {
    min-width: $height_carousel-text__content-block_activity;
    width: $height_carousel-text__content-block_activity;

    &:before {
        content: "";
        width: $width-carousel-inner_text_background-obj;
        display: inline-block;
        position: absolute;
        left: 0;
        border-top: $height_carousel_text solid $color_purple_5b108a;
        border-right: $border-size-carousel-inner_text_background-obj solid $color_crimson_f8115b;
        z-index: 2;

        @media screen and (max-width: $size-grid_sm_576px) {
            display: none;
        }
    }

    &:after {
        content: ""; 
        width: rem(174px);
        display: inline-block;
        position: absolute;
        left: $width-carousel-inner_text_background-obj;
        border-left: $border-size-carousel-inner_text_background-obj solid $color_crimson_f8115b;
        border-top: $height_carousel_text solid $color_crimson_f8115b;
        border-right: $border-size-carousel-inner_text_background-obj solid $color_crimson_cd1650;
        z-index: 2;

        @media screen and (max-width: $size-grid_sm_576px) {
            left: 0;
        }
    }

    @media screen and (max-width: $size-grid_md_768px) {
        width: 100%;
    } 
}

.carousel-text__content-block_infomation {
    width: 100%;
}

//TITLE-BLOCK
//this is a carousel title block style
.carousel-text__title-block {
    height: rem(75px);
    width: rem(257px);
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    left: 1.75rem;
    transform: translateY(-50%);
    padding: 0 rem(16px);
    z-index: 3;
    background-color: $color_crimson_cd1650;
    
    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border-top: 76px solid $color_crimson_cd1650;
        border-right: 20px solid $color_crimson_f8115b;
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        display: none;
    }
}

//ITEM-BLOCK
.carousel__item-block_text {
    height: 100%;
    width: 100%;
}

.carousel__h {
    color: $color_white_ffffff;
}

.carousel__h_h2_text {
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(26px);
}

.carousel__date {   
    position: absolute;
    z-index: 3;
    font-weight: 300;
    color: $color_purple_420f62;
}

.carousel__date_day_text {
    font-size: rem(60px);
    left: rem(-130px);

    @media screen and (max-width: $size-grid_md_768px) {
        top: rem(-126px);
        left: rem(304px);
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        left: rem(48px);
    } 
}

.carousel__date_month_text {
    font-size: rem(14px);
    top: rem(72px);
    left: rem(-136px);

    @media screen and (max-width: $size-grid_md_768px) {
        top: rem(-57px);
        left: rem(300px);
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        left: rem(41px);
    }
}

.carousel__h_text_h3 {
    //style for a hidden content
    max-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;

    & {
        //this is my style h3
        max-width: 960px;
        width: 65%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 rem(20px);
        font-size: rem(26px);
        font-weight: inherit;

        @media screen and (max-width: $size-grid_sm_576px) {
            width: auto;
        }
    }
}