// INFORMATION BLOCKS/CONTENT
//this is a main's sass component and index for import of main's components

//import local main's variables
@import 'variables';

//COMMON
.main {
    height: auto;
    width: auto;
    position: absolute;
    right: 0;
    left: $width_content_main-navigation-panel;
    background-color: $color_white_f6f5f7;

    @media screen and (max-width: $size-grid_xl_1200px) {
        left: $width_content_main-navigation-panel_media;
    }
}

//import of ... component