/* ---LINKS-BLOCK--- */
//this is a links-block sass component

//import local links-block's variables
@import 'variables';

//COMMON
.links-block {

    @media screen and (max-width: $size-grid_xl_1200px) {
        flex-direction: column;
    }
}

/* ---LINKS-BLOCK'S ITEMS--- */

//COMMON
.links-block__item {
    height: $heigth_links-block__item;
    min-height: $heigth_links-block__item;
    margin: 0 auto rem(24px);
    background-color: $color_white_ffffff;
    background-repeat: no-repeat;
    background-position: bottom right;

    @media screen and (min-width: $size-grid_xl_1200px) {
        width: 32%;
        min-width: 320px;
    }

    @media screen and (max-width: $size-grid_xl_1200px) {
        width: 100%;
        margin: 0 0 rem(24px);

        &:last-child {
            margin: 0;
        }
    }
}

//LINKS-BLOCK__LINK
.links-block__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(27px);
    font-weight: 400;
    padding: 1rem;
    text-align: center;
    border: 1px solid transparent;
    color: $color_purple_5b108a;
    transition: .3s linear;

    &:hover {
        text-decoration: none;
        color: $color_purple_5b108a;
        border: 1px solid $color_purple_5b108a;
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        font-size: rem(22px);
        word-break: break-word;
    }
}