/* ---FOOTER--- */
//this is a footer's sass component and index for import of footer's componentss

//import local footer's variables
@import 'variables';

//COMMON 
.footer {
    height: $footer_height;
    width: inherit;
    max-width: inherit;
    background-color: $color_purple_5b108a;
}

.footer__main-block {
    height: 100%;
    width: inherit;
    display: flex;
    align-items: center;
}

.footer__text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: rem(14px) rem(9px);
    color: $color_white_ffffff;
}

