/* ---FULL-CONTACTS-BLOCK (CONTACTS-PAGE)--- */
//this is a full-contacts-block sass component

//import local full-contacts-block's variables
@import 'variables';

//COMMON
.full-contacts-block-wrapper {
    @media screen and (max-width: $size-grid_lg_992px) {
        display: flex;
        flex-direction: column;
    }
}

.full-contacts-block {
    background-color: $color_white_ffffff;
}

.full-contacts-block__contacts-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color_gray_e0e0e0;
    margin: 0 0 rem(20px);

    &:last-child {
        border-bottom: 0 solid transparent;
        margin: 0;
    }
}

/* ---FULL-CONTACTS-BLOCK'S ITEMS--- */

//COMMON
.full-contacts-block__item-block {
    display: flex;
    flex-direction: column;
    margin: 0 0 rem(20px);    

    &:last-child {
        margin: 0;
    }
}

.full-contacts-block__item-block_style-contacts {
    width: fit-content;
}

.full-contacts-block__content-block {
    display: flex;
}

.full-contacts-block__contacts-user-block {
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: .3s ease-in-out;

    &:hover {
        border-bottom: $border_full-contacts-block__contacts-user-block solid $color_purple_5b108a;
    }
}

.full-contacts-block__contacts-user-block_active {
    border-bottom: $border_full-contacts-block__contacts-user-block solid $color_purple_5b108a;
}

.full-contacts-block__wrapper-block {
    display: none;
}

.full-contacts-block__wrapper-block_show {
    display: flex;
    flex-direction: column;
}

//ICON-BLOCK
.full-contacts-block__icon-block {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-contacts-block__icon-block_style_width {
    width: auto;
    margin: 0 rem(10px) 0 0;
}

.full-contacts-block__icon {
    height: $size_full-contacts-block__icon;
    width: $size_full-contacts-block__icon;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

//TEXT-BLOCK
.full-contacts-block__text-block {
    width:100%;
}

.text__full-contacts-block {
    display: inline;
    margin: 0;
    color: $color_black_000000;
}

.text__full-contacts-block_mail {
    color: $color_purple_7c2c9e;
}