//COLOR VARIABLES
$color_white_ffffff: #ffffff;
$color_gray_e0e0e0: #e0e0e0;
$color_black_000000: #000000;
$color_purple_7c2c9e: #7c2c9e;
$color_purple_5b108a: #5b108a;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;

//OTHER VARIABLES
$border_full-contacts-block__contacts-user-block: 1px solid;
$size_full-contacts-block__icon: 16px;