/* ---CAROUSEL (CLASSIC)--- */
//this is a carousel_classic sass component

//import local scarousel's variables
@import 'variables';

//import of bootstrap files
//this is working, because carousel component have added in style.scss
/* @import '../../node_modules/bootstrap/scss/carousel'; */

//COMMON

//CAROUSEL-LIST
//this is the main carousel's indicator list
.carousel-list {
    //this is the bootstrap's style (refactoring of bootstrap's style, which is not used)
    justify-content: unset;
    right: unset;
    bottom: unset;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;

    & {
        //this is style for carousel-indicators list
        display: block;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: rem(49px);
        transform: translateY(-50%);
        list-style: none;
    }

    & .active {
        // style for active indicator (refactoring of bootstrap's style)
        transform: scale(1.833);
        background-color: $color_crimson_cd1650;
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        left: 0;
    }    
}

.carousel-list li { 
    //this is the bootstrap's style (refactoring of bootstrap's style)
    box-sizing: unset;
    flex: unset;
    margin-right: 0;
    margin-left: 0;
    text-indent: 0;
    cursor: pointer;
    background-color: $color_white_ffffff;
    background-clip: unset;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
    
    & {
        //this is my style for indicators of carousel list
        height: rem($link-icon_size_different);
        width: rem($link-icon_size_different);
        border: 0;
        border-radius: 50%;
        margin: em(22px);
        background-color: $color_white_ffffff;
        transition: .3s linear;
    }

    &:hover {
        transform: scale(1.833);
        background-color: $color_crimson_c36181;
    }
}

/* ---CAROUSEL'S ITEMS--- */

//COMMON
.carousel-classic__item-block {
    height: 670px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-classic__content-block {
    height: inherit;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    @media screen and (max-width: $size-grid_xl_1200px) {
        padding: 0 rem(112px);
    }

    @media screen and (max-width: $size-grid_sm_576px) {
        padding: 0 rem(64px);
    }
}

//TEXT-BLOCK
.carousel-classic__text-block {
    margin: 0 0 rem(60px);
}

.carousel-classic__h {
    color: $color_white_ffffff;
}

.carousel-classic__h_h3 {
    font-size: rem(64px);
    font-weight: normal; 
    line-height: rem(60px);
    margin: 0 0 24px;

    @media screen and (max-width: $size-grid_sm_576px) {
        font-size: rem(32px);
    }
}

.carousel-classic__text {
    font-size: rem(20px);
    font-weight: 400;
    color: $color_white_ffffff;
}

//LINK_BUTTON
.button-rounded_carousel_main-page_1 {
    height: 62px;
    width: 282px;

    @media screen and (max-width: $size-grid_sm_576px) {
        height: auto;
        width: auto;
        max-width: 282px;
    }
}