//SIZE LINK-ICON VARIABLES
$link-icon_size_different: 6px;
$link-icon_size_active: 11px;

//COLOR VARIABLES
$color_crimson_cd1650: #cd1650;
$color_crimson_c36181: #c36181;
$color_purple_67278e: #67278e;
$color_purple_8d2eb6: #8d2eb6;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;