/* ---ABOUT-BLOCK--- */
//this is a about-block sass component

//import local about-block's variables
@import 'variables';

//COMMON

/* ---ABOUT-BLOCK'S ITEMS--- */

.about-block__item-wrapper_style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color_white_ffffff;
}

.about-block__item-block {
    margin: 0 0 rem(85px);
}

.button_about-block {
    height: 62px;
    width: 282px;

    @media screen and (max-width: $size-grid_sm_576px) {
        width: 100%;
    }
}

.image_about-block {
    height: inherit;
    background-size: contain;
}