//COLOR VARIABLES
$color_crimson_cd1650: #cd1650;
$color_white_ffffff: #ffffff;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;