/* ---PAGINATION (NEWS-PAGE)--- */
//this is a pagination sass component

//import local pagination's variables
@import 'variables';

//COMMON
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;

}

.pagination-menu {
    display: flex;
    list-style: none;
    width: fit-content;
}

/* ---PAGINATION'S ITEMS--- */

.pagination-menu__item {
    display: flex;
}

.pagination-menu__item-link {
    font-size: rem(18px);
    font-weight: 500;
    line-height: rem(26px);
    color: $color_gray_272727;

    padding: rem(10px);
    border: 1px solid;
    border-radius: 3px;
    border-top: $border_pagination-menu__item-link solid $color_pink_ebd6dc;
    border-right: $border_pagination-menu__item-link solid $color_pink_ebd6dc;
    border-bottom: $border_pagination-menu__item-link solid $color_pink_ebd6dc;
    border-left: $border_pagination-menu__item-link solid transparent;
    transition: 0.05s cubic-bezier(0.1, 0.45, 0.8, 0.9);

    &:first-child {
        border-left: $border_pagination-menu__item-link solid $color_pink_ebd6dc;
    }

    &:hover {
        text-decoration: none;
        color: $color_white_ffffff;
        background-color: $color_crimson_cd1650;
    }
}