//COLOR VARIABLES
$color_white_ffffff: #ffffff;
$color_pink_ebd6dc: #ebd6dc;
$color_crimson_cd1650: #cd1650;
$color_gray_272727: #272727;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;

//OTHER VARIABLES
$border_pagination-menu__item-link: 1px;