/* ---PRELOADER--- */
//this is a preloader sass component

//import local preloader's variables
@import 'variables';

//COMMON
.preloader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    background-color: $color_purple_8d23bb;
}

.preloader_complete {
    animation: preloader_complete .5s linear forwards;

    @keyframes preloader_complete {
        0% {
            opacity: 1;
        }
        20% {
            opacity: .6;
        }
        50% {
            opacity: .2;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

.preloader_display-blocking {
    display: none;
}

/* ---PRELOADER'S ITEMS--- */

//COMMON
.preloader__content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    animation: preloader__content_loading 1.1s linear infinite;
    
    @keyframes preloader__content_loading {
        0%{
            opacity: 1;
        }
        20% {
            opacity: .6;
        }
        40% {
            opacity: .4;
        }
        60% {
            opacity: .6;
        }
        65% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
}

.logo-block_preloader {
    padding: 0 0 rem(22px);
}

.preloader__text {
    font-size: rem(16px);
    color: $color_white_ffffff;
}