//COLOR VARIABLES 
$color_purple_8d2eb6: #8d2eb6;
$color_purple_8d23bb: #8d23bb;
$color_purple_5b108a: #5b108a;
$color_purple_67278e: #67278e;
$color_purple_66138b: #66138b;
$color_purple_732298: #732298;
$color_white_ffffff: #ffffff;
$color_white_f6f5f7: #f6f5f7;
$color_crimson_f8115b: #f8115b;
$color_crimson_cd1650: #cd1650;
$color_green_1b3412: #1b3412;
$color_gray_272727: #272727;
$color_gray_464646: #464646;
$color_gray_aeaeae: #aeaeae;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;

//KEYFRAMES VARIABLES
$scroll-icon_translate: 100%;

//MIXIN SELECTORS
@mixin viewOf-header-footer {
    height: $height_contentMax - $height_content;
    width: $width_view;
    margin: 0 auto;
    display: flex;
    align-items: center;        
    justify-content: space-between;
}

//OTHERS VARIABLES 
$rounded_button-rounded: 100px;