//MAIN STYLE'S SASS FILE
//this is a main style's sass file and index for import of all incoming components

//import of common sass variables 
@import 'parameters';
@import 'variables';

//import of bootstrap files
// @import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap';

//this import need for carousels working
@import '../../node_modules/bootstrap/scss/carousel';

//FONTS
//import of fonts for web application
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu', sans-serif;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family:  'Raleway', sans-serif;
    src: url(../fonts/Raleway-Regular.ttf);
}

body, div, nav, ul, ol, h1, h2, h3, p, li, a, main {
    margin:0;
    padding: 0;
}

h1, h2, h3, p, li, a {
    font-family: 'Raleway', sans-serif;
    word-wrap: break-word;
}

p, li, a {
    font-weight: 400;
}

a {
    text-decoration: none;
}

::selection {
    background-color: $color_purple_8d23bb;
}

//COMMON
.main-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

//HEADLINES
.headline {
    margin: 0 0 rem(29px);
}

.headline_h2 {
    font-size: rem(50px);
    font-weight: 300;
    color: $color_green_1b3412;

    @media screen and (max-width: $size-grid_sm_576px) {
        font-size: rem(32px);
    }
}

.headline_h3 {
    font-size: rem(24px);
    font-weight: 500;
    line-height: rem(26px);
    color: $color_gray_272727;

    @media screen and (max-width: $size-grid_sm_576px) {
        font-size: rem(18px);
    }
}

//TEXTS
.text {
    font-size: rem(16px);
    font-weight: 500;
    line-height: rem(25px);
    margin: 0 0 rem(52px);
    color: $color_gray_464646;
}

.text_annotation {
    font-size: rem(15px);
    font-weight: 400;
    line-height: rem(20px);
    margin: 0;
    color: $color_gray_aeaeae;
}

.text_margin {
    margin: 0;
}

//BUTTONS & HIS ELEMENTS
.button {
    border: 0 solid transparent;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.link-button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    //style for text in button
    font-size: rem(18px);
    font-weight: 500;
    color: $color_crimson_cd1650;

    border: 2px solid $color_crimson_cd1650;
    background-color: transparent;
    transition: .3s linear;
    
    &:hover {
        color: $color_white_ffffff;
        text-decoration: none;
        background-color: $color_crimson_cd1650;
    }
}

.button-rounded {
    border: 0 solid transparent;
    border-radius: $rounded_button-rounded;
    box-shadow: 0 0 4px $color_purple_67278e;
    background-color: $color_purple_8d2eb6;

    &:focus {
        outline: none;
    }
}

.link-button-rounded {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    //style for text in button
    font-size: rem(24px);
    font-weight: 700; 
    color: $color_white_ffffff;

    border: 0 solid transparent;
    border-radius: $rounded_button-rounded;
    transition: .3s linear;

    &:hover {
        color: $color_white_ffffff;
        text-decoration: none;
        background-color:$color_purple_67278e;
    }
}

//IMAGES
.image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.image_news {
    margin: 0 0 rem(25px);
}

//LINKS
.link {
    display: block;

    &:hover {
        text-decoration: none;
    }
}

//COLORS
.color-block_ffffff {
    background-color: $color_white_ffffff;
}

//OTHERS
.infomation_hide {
    max-height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 3;
}

/* ---MAIN NAVIGATION PANEL--- */

//import of preloader
@import '../components/common/preloader/preloader';

//import of main navigation panel's components
@import '../components/common/main-navigation-panel/main-navigation-panel';

/* ---MAIN INFORMATION--- */

//import of main's components
@import '../components/main-page/main';
@import '../pages/main-page/main-page';

/* 

    <---NEWS-PAGE--->

    */

//import of news's-page components
@import '../pages/news-page/news-page';

/* 

    <---DOCUMENTS-PAGE--->

    */

//import of documents-page's components
@import '../pages/documents-page/documents-page';

/* 

    <---CONTACTS-PAGE--->

    */

//import of contacts-page's components
@import '../pages/contacts-page/contacts-page';