/* ---LOGOTYPE--- */
//this is a logo sass component

//import local logo's variables
@import 'variables';

//COMMON
.logo-block {
    height: $logo_height;
}

.logo-link {
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .35s ease-in-out;

    &:hover {
        background-color: $color_purple_5b108a;
        text-decoration: none;
    }

    &:active {
        background-color: $color_purple_66138b;
    }
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: rem(27px);
    line-height: rem(26px);
    font-weight: 700;
    padding: $logo_padding-text;
    color: $color_white_ffffff;
    
    &:before {
        content: 'Центр медиации и права';
    }

    @media screen and (max-width: $size-grid_xl_1200px) {
        padding: 0;

        &:before {
            content: '';
        }

        &:after {
            content: 'ЦМ';
        }
    }
}

.logo_media {
    padding: $logo_padding-text;

    &:before {
        content: 'Центр медиации и права';
    }

    &:after {
        content: '';
    }
}

.logo_preloader {
    max-width: $width_content_main-navigation-panel;
    display: flex;
    justify-content: center;
}