//HEIGHT VARIABLES
$logo_height: 22.38%;

//PADDING VARIABLES
$logo_padding-text: 0 rem(66px);

//WIDTH VARIABLES 
$width_content_main-navigation-panel: 300px;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;