/* ---BURGER-BUTTON--- */
//this is a burger-button sass component

//import local burger-button's variables
@import 'variables';

//COMMON
.burger-button {
    display: none;
    height: $burger-button_height;
    width: 100%;
    border: 0 solid transparent;
    cursor: pointer;
    background-color: $color_purple_66138b;

    &:focus {
        outline: none;
    }

    @media screen and (max-width: $size-grid_xl_1200px) {
        display: block;
    }
}

.burger-button__icon {
    height: rem(9px);
    width: rem(18px);
}

.burger-button__path-icon {
    fill: $color_white_ffffff;
}