//COLOR VARIABLES
$color_purple_66138b: #66138b;
$color_white_fff: #ffffff;

//HEIGHT VARIABLES
$burger-button_height: 11.883%;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;