/* ---NAVIGATION-BAR--- */
//this is a navigation-bar sass component

//import local navigation-bar's variables
@import 'variables';

//COMMON
.navigation-bar {
    height: 100%-$logo_height;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: rgba(0, 0 ,0, .1);

    &::-webkit-scrollbar {
        width: 3%;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: rem(10px);
        background-color: $color_puprle_5b108a;
    }

    @media screen and (max-width: $size-grid_xl_1200px) {
        display: none;
    }
}

.navigation-bar_media {
    height: 100% - ($logo_height + $burger-button_height);
    display: flex;
}

//navigation-bar's components
.navigation-bar__item {
    display: inline-flex;
    list-style: none;
    color: $color_white_ffffff;
    transition: .05s cubic-bezier(.1, .45, .8, .9);

    &:hover {
        color: $color_crimson_f8115b;
        background-color: $color_purple_732298;
        text-decoration: none;
    }

    &:active {
        background-color: $color_purple_66138b;
    }
}

.navigation-bar__item_active {
    background-color: $color_purple_66138b;
}

.navigation-bar__link {
    width: 100%;
    font-size: rem(16px);
    font-weight: 700;
    letter-spacing: rem(1.1px);    
    padding: em(21px) em(20px) em(23px) em(67px);
    text-decoration: none;
    text-transform: uppercase;
    color: $color_white_ffffff;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}