//COLOR VARIABLES
$color_puprle_5b108a: #5b108a;

//HEIGHT VARIABLES
$logo_height: 22.38%;
$burger-button_height: 11.883%;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;