/* ---SEARCH (DOCUMENTS-PAGE)--- */
//this is a search sass component

//import local search's variables
@import 'variables';

//COMMON
.search {
    background-color: $color_white_fdfdfd;
}

/* ---SEARCH'S ITEMS--- */

.link_h3_search {
    color: $color_black_000000;

    &:hover {
        color: $color_purple_6f3788;
        text-decoration: none;
    }
}

.search__input {
    width: 100%;
    padding: rem(10px) 0;
    border: 0 solid transparent;
    border-bottom: 1px solid $color_pink_f0e9f2;
    background-image: url(../pages/documents-page/components/search/images/search__icon_search.svg);
    background-repeat: no-repeat;
    background-position: right rem(15px) center;
    background-color: transparent;

    &::placeholder {
        color: $color_purple_6f3788;
    }

    &:focus {
        outline: none;
    }
}