/* ---DOCUMENTS-BLOCK (DOCUMENTS-PAGE)--- */
//this is a documents-block sass component

//import local documents-block's variables
@import 'variables';

//COMMON

/* ---DOCUMENTS-BLOCK'S ITEMS--- */

.documents-block__item {
    display: flex;
}

//ICON-BLOCK
.documents-block__icon-block {
    margin: 0 20px 0 0;
}

.documents-block__icon {
    height: rem(30px);
    width: rem(28px);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}