/* ---MAP (CONTACTS-PAGE)--- */
//this is a yandex API map sass component

//import local yandex API map variables
@import 'variables';

//COMMON
.map_contacts-page {
    height: 100vh;
    width: 100%;
    position: fixed;

    @media screen and (max-width: $size-grid_lg_992px) {
        position: unset;
    }
}