/* ---MAIN-NAVIGATION-PANEL--- */
//this is a main navigation panel sass component and index for import of main navigation panel's components

//import local main navigation panel's variables
@import 'variables';

//COMMON
.main-navigation-panel {
    height: 100%;
    width: $width_content_main-navigation-panel;
    max-width: $width_content_main-navigation-panel;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    left: 0;

    @media screen and (max-width: $size-grid_xl_1200px) {
        width: $width_content_main-navigation-panel_media;
        max-width: $width_content_main-navigation-panel_media;
    }
}

.main-navigation-panel_media {
    width: $width_content_main-navigation-panel;
    max-width: $width_content_main-navigation-panel;
}

//MAIN NAVIGATION PANEL'S COMPONENTS

//import of header
@import 'header/header';

//import of footer
@import 'footer/footer';