//WIDTH VARIABLES
$width_content_main-navigation-panel: 300px;
$width_content_main-navigation-panel_media: 66px;

//GRID VARIABLES
$size-grid_sm_576px: 576px;
$size-grid_md_768px: 768px;
$size-grid_lg_992px: 992px;
$size-grid_xl_1200px: 1200px;