/* ---DOCUMENTS-PAGE--- */
//this is a documents-page style's sass file and index for import of all incoming components

//import local documents-page's variables
@import 'variables';

//COMMON
.wrapper-block {
    height: 100%;
    width: 100%;
    display: flex;
}

.headline_h2_search {
    color: $color_gray_424242;
    font-size: rem(30px);
    font-weight: 300;    
}

//import of documents-block component
@import 'components/documents-block/documents-block';
//import of search component
@import 'components/search/search';